doctype html
html
  head
    title= title
    script(src='https://cdn.tailwindcss.com')
    script
      |  tailwind.config = {
      |    separator: '_'
      |  }
  body
    .bg-slate-200.w-full.p-4
      .container.mx-auto.flex.gap-4
        .font-bold.text-slate-800
          a(href='/') Home
        if contracts
          span.text-slate-800
            span Quantidade de contratos: 
            span.font-bold= contracts.length
    .container.mx-auto.mt-4
      block content
